[Desktop Entry]
Version=1.0
Type=Application
Name=LMMS
GenericName=Music Production Suite
Comment=Easy music production for everyone!
Exec=env QT_X11_NO_NATIVE_MENUBAR=1 lmms
TryExec=lmms
Terminal=false
MimeType=application/x-lmms-project;
Icon=lmms
Categories=AudioVideo;Audio;Midi
