divert(-1)
define(`FONT_DIR', `~/Library/Fonts on OSX, ~/.local/share/fonts otherwise')
define(`IRC_PASSWORD', `my-password')
define(`M4_HOMEBREW_GITHUB_API_TOKEN', `my-github-token')
define(`NGROK_AUTHTOKEN', `my-ngrok-token')
define(`SSH_KEYNAME', `my-keyfile-name')
define(`TRANSMISSION_PASSWORD', `my-rpc-password')
define(`TRANSMISSION_USERNAME', `my-rpc-username')
divert(0)dnl
