divert(-1)
define(`IRC_PASSWORD', `my-password')
define(`M4_BUGWARRIOR_GITHUB_API_TOKEN', `my-github-token')
define(`M4_HOMEBREW_GITHUB_API_TOKEN', `my-github-token')
define(`M4_JIRA_TOKEN', `my-jira-token')
define(`NGROK_AUTHTOKEN', `my-ngrok-token')
define(`SSH_KEYNAME', `my-keyfile-name')
define(`TRANSMISSION_PASSWORD', `my-rpc-password')
define(`TRANSMISSION_USERNAME', `my-rpc-username')
divert(0)dnl
