/*
 * TODO: include this in dotsystem
 *
 * On OSX, this lives in:
 * ~/Library/Application Support/Firefox/Profiles/*.default-release/chrome/userChrome.css
 */

/* begin: hide toolbar (controls and tabs) */
#TabsToolbar {
    visibility: collapse;
    overflow: visible;
}

#TabsToolbar > * {
    visibility: collapse;
}

#TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    position: absolute;
    margin-top: 5px;
}
/* end: hide toolbar */
