[Desktop Entry]
Name=Guake
GenericName=Terminal Emulator
Comment=Drop-down terminal emulator for GNOME
Exec=guake
Terminal=false
Type=Application
Icon=guake
Categories=Network;FileTransfer;Shell;
StartupNotify=false
