version: 2.1

orbs:
  linter: talkiq/linter@4.0.1

executors:
  python:
    docker:
      - image: python:3.14.3
    resource_class: medium

workflows:
  run-jobs:
    jobs:
      - linter/pre-commit:
          executor: python
