[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
GenericName=Terminal
Comment=A cross-platform, GPU enhanced terminal emulator
Exec=env WINIT_HIDPI_FACTOR=1.0 alacritty
TryExec=alacritty
Terminal=false
Icon=utilities-terminal
Categories=System;TerminalEmulator;
