[Desktop Entry]
Version=1.0
Type=Application
Name=League of Legends
Comment=Play League of Legends
Exec=/home/kevin/.local/bin/league-of-legends
Terminal=true
Icon=/home/kevin/.PlayOnLinux/icones/full_size/LeagueClient
StartupNotify=true
