<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>in.thekev.caffeinate</string>

    <key>KeepAlive</key>
    <true/>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/caffeinate</string>
        <string>-dim</string>
        <string>bash</string>
        <string>-c</string>
        <string>while true; do sleep 86400; done</string>
    </array>

    <key>StandardOutPath</key>
    <string>/tmp/caffeine.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/caffeint.stderr.log</string>
</dict>
</plist>
